@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Prompt", sans-serif;
}

* {
  font-family: "Prompt", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Chonburi", cursive !important;
}

.gradient-text {
  background: linear-gradient(45deg, #ff3366 0%, #ff9966 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
